files:
  "/etc/cron.d/laravel_scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /var/app/current/scheduler.sh

commands:
  00_remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
  01_create_log_dir:
    command: "mkdir -p /var/log && chmod 755 /var/log"
  02_reload_cron:
    command: "service crond reload"